/* specify a slide */
section.slide {
    page-break-inside: avoid;
    page-break-after: always;
    height: 100%;
    padding: 1% 6% 1% 6%;
    /*border: 1px solid black;*/
}
#footer{
    position: fixed;
    height: 6%;
    width: 92%;
    right: 3%;
    bottom: 3%;
    padding: 0 1% 0 1%;
    font-size: 70%;
    /*border: 1px solid blue;*/
}

/* specifies printing of a page */
@media print{
    section.slide{
        height: 98%;
        /*border: 1px solid black;*/
    }
}