/* specify an article */
body {
    margin-left:10em;
    width:42em;
}
body img, table {
    page-break-inside: avoid;
}

/* specifies printing of a page */
@media print{
    body {
        margin: .5in .5in .5in .5in;
        max-width: 100%;
    }
}