body {
    margin-left:10em;
    width:42em;
    text-align: justify;
}
body img, table {
    page-break-inside: avoid;
}

/* specifies printing of a page */
@media print{
    body{
        margin-left: 12.5%;
        width: 75%;
    }
    /*page{
        margin: 1in 1in 1in 1in;
    }*/
}